@charset "utf-8";

/* common */
.container{
  max-width: 640px;
  margin: 0 auto;
}

/* header */
header{
  margin-top: 32px;
  display: flex;
}

nav{
 margin-left: auto; 
}

ul{
  display: flex;
  margin: 0;
  list-style: none;
}

header a{
  display: block;
  width: 64px;
  line-height: 80px;
  text-align: center;
  color: black;
}

a:hover{
  opacity: .3;
}

/* main */
h1{
  text-align: center;
  margin: 40px 0;
}

.article{
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  align-items: center;
}

main a{
  color: black
}


/* footer */
footer{
  text-align: center;
}